agate==1.9.1
alembic==1.14.1
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.8.0
asn1crypto==1.5.1
attrs==25.1.0
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==14.0
cryptography==44.0.1
daff==1.3.46
dagster==1.10.2
dagster-dbt==0.26.2
dagster-graphql==1.10.2
dagster-pipes==1.10.2
dagster-snowflake==0.26.2
dagster-webserver==1.10.2
dbt-adapters==1.14.0
dbt-common==1.15.0
dbt-core==1.9.2
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.7.4
dbt-snowflake==1.9.1
deepdiff==7.0.1
docstring_parser==0.16
filelock==3.17.0
fsspec==2025.2.0
gql==3.5.1
graphene==3.4.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.70.0
grpcio-health-checking==1.70.0
h11==0.14.0
httptools==0.6.4
humanfriendly==10.0
idna==3.10
importlib-metadata==6.11.0
isodate==0.6.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
leather==0.4.0
Mako==1.3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
mdurl==0.1.2
more-itertools==10.6.0
msgpack==1.1.0
multidict==6.1.0
networkx==3.4.2
numpy==2.2.3
ordered-set==4.1.0
orjson==3.10.15
packaging==24.2
pandas==2.2.3
parsedatetime==2.6
pathspec==0.12.1
platformdirs==4.3.6
propcache==0.3.0
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pyOpenSSL==24.3.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.1
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.23.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowflake-connector-python==3.13.2
snowplow-tracker==1.1.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.38
sqlglot==26.7.0
sqlglotrs==0.4.0
sqlparse==0.5.3
starlette==0.46.0
structlog==25.1.0
tabulate==0.9.0
text-unidecode==1.3
tomli==2.2.1
tomlkit==0.13.2
toposort==1.10
tqdm==4.67.1
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
universal_pathlib==0.2.6
urllib3==2.3.0
uvicorn==0.34.0
watchdog==5.0.3
watchfiles==1.0.4
websockets==15.0
yarl==1.18.3
zipp==3.21.0
